body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  color: #333333 !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display-none {
  display: none;
}

/* NAVBAR */

.nav-elem {
  margin-right: 16px;
}

.nav-elem:hover {
  background-color: whitesmoke;
  color: darkgray;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.nav-elem:active {
  background-color: lightgray;
}

.nav-elem {
  text-decoration: none;
  color: whitesmoke;
}

.nav-text {
  text-decoration: none;
  color: whitesmoke;
}

.form-control:focus {
  border-color: #333333 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(51, 51, 51, 0.6) !important;
}

.invalid-input {
  border-color: rgb(123, 24, 24) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(123, 24, 24, 0.6) !important;
}

.invalid-input:focus {
  border-color: rgb(123, 24, 24) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(123, 24, 24, 0.6) !important;
}

.expandable {
  background: #fff;
  overflow: hidden;

  transition: all 0.5s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
}

.expandable:target {
  height: 500px;
}

.dropzoning {
  overflow: "hidden";
  height: 121px;
  width: 70%;
  margin-left: 15%;
  border: 1px solid #333333;
  border-radius: 5px;
}

.dropzoning:hover {
  background-color: #c1c1c1;
}

.shop-item-img {
  object-fit: cover;
  height: 18rem;
}
